@model ArchivoDePasaportes.ViewModels.OfficialTravelViewModel
@{
    ViewData["Title"] = "ListOfficialTravels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Viajes Oficiales</h1>

<form asp-action="ListOfficial">
    <div class="row ap-big-margin-top">
        <div class="col-lg-3">
            @Html.TextBox("SearchOrigin", null, new { @class = "form-control", placeholder = "Origen del vuelo" })
        </div>
        <div class="col-lg-3">
            @Html.TextBox("SearchDestiny", null, new { @class = "form-control", placeholder = "Destino del vuelo" })
        </div>
        <div class="col-lg-3">
            @Html.TextBox("SearchCI", null, new { @class = "form-control", placeholder = "CI" })
        </div>
        <div class="col-lg-3">
            @Html.TextBox("SearchPassportNo", null, new { @class = "form-control", placeholder = "Número de Pasaporte" })
        </div>
        <div class="col-lg-3 ap-margin-top">
            <h6>Día de Partida</h6>
            <div class="input-group" style="width:auto">
                @Html.TextBox("SearchDepartureDay", null, new { @class = "form-control", placeholder = "Día" })
                @Html.TextBox("SearchDepartureMonth", null, new { @class = "form-control", placeholder = "Mes" })
                @Html.TextBox("SearchDepartureYear", null, new { @class = "form-control", placeholder = "Año" })
            </div>
        </div>
        <div class="col-lg-3 ap-margin-top">
            <h6>Día de Regreso</h6>
            <div class="input-group" style="width:auto">
                @Html.TextBox("SearchArrivalDay", null, new { @class = "form-control", placeholder = "Día" })
                @Html.TextBox("SearchArrivalMonth", null, new { @class = "form-control", placeholder = "Mes" })
                @Html.TextBox("SearchArrivalYear", null, new { @class = "form-control", placeholder = "Año" })

            </div>
        </div>
        <div class="col-lg-3 ap-margin-top">
        </div>
        <div class="col-lg-3 ap-big-margin-top">
            <button type="submit" class="btn btn-secondary">Buscar</button>
        </div>
    </div>
</form>

<table id="official" class="table ap-big-margin-top">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Número de Pasaporte", "ListOfficial", "Travels", new
                {
                    sortOrder = ViewBag.PassNoSortParm,
                    searchDepartureDay = ViewBag.SearchDepartureDay,
                    searchDepartureMonth = ViewBag.SearchDepartureMonth,
                    searchDepartureYear = ViewBag.SearchDepartureYear,
                    searchArrivalDay = ViewBag.SearchArrivalDay,
                    searchArrivalMonth = ViewBag.SearchArrivalMonth,
                    searchArrivalYear = ViewBag.SearchArrivalYear,
                    searchOrigin = ViewBag.SearchOrigin,
                    searchDestiny = ViewBag.SearchDestiny,
                    searchCI = ViewBag.SearchCI,
                    searchPassportNo = ViewBag.SearchPassportNo
                })
            </th>
            <th>
                @Html.ActionLink("Fecha de Salida", "ListOfficial", "Travels", new
                {
                    sortOrder = ViewBag.DepartureSortParm,
                    searchDepartureDay = ViewBag.SearchDepartureDay,
                    searchDepartureMonth = ViewBag.SearchDepartureMonth,
                    searchDepartureYear = ViewBag.SearchDepartureYear,
                    searchArrivalDay = ViewBag.SearchArrivalDay,
                    searchArrivalMonth = ViewBag.SearchArrivalMonth,
                    searchArrivalYear = ViewBag.SearchArrivalYear,
                    searchOrigin = ViewBag.SearchOrigin,
                    searchDestiny = ViewBag.SearchDestiny,
                    searchCI = ViewBag.SearchCI,
                    searchPassportNo = ViewBag.SearchPassportNo
                })
            </th>
            <th>
                @Html.ActionLink("Fecha de Regreso", "ListOfficial", "Travels", new
                {
                    sortOrder = ViewBag.ArrivalSortParm,
                    searchDepartureDay = ViewBag.SearchDepartureDay,
                    searchDepartureMonth = ViewBag.SearchDepartureMonth,
                    searchDepartureYear = ViewBag.SearchDepartureYear,
                    searchArrivalDay = ViewBag.SearchArrivalDay,
                    searchArrivalMonth = ViewBag.SearchArrivalMonth,
                    searchArrivalYear = ViewBag.SearchArrivalYear,
                    searchOrigin = ViewBag.SearchOrigin,
                    searchDestiny = ViewBag.SearchDestiny,
                    searchCI = ViewBag.SearchCI,
                    searchPassportNo = ViewBag.SearchPassportNo
                })
            </th>
            <th>
                @Html.ActionLink("Origen", "ListOfficial", "Travels", new
                {
                    sortOrder = ViewBag.OriginSortParm,
                    searchDepartureDay = ViewBag.SearchDepartureDay,
                    searchDepartureMonth = ViewBag.SearchDepartureMonth,
                    searchDepartureYear = ViewBag.SearchDepartureYear,
                    searchArrivalDay = ViewBag.SearchArrivalDay,
                    searchArrivalMonth = ViewBag.SearchArrivalMonth,
                    searchArrivalYear = ViewBag.SearchArrivalYear,
                    searchOrigin = ViewBag.SearchOrigin,
                    searchDestiny = ViewBag.SearchDestiny,
                    searchCI = ViewBag.SearchCI,
                    searchPassportNo = ViewBag.SearchPassportNo
                })
            </th>
            <th>
                @Html.ActionLink("Destino", "ListOfficial", "Travels", new
                {
                    sortOrder = ViewBag.DestinySortParm,
                    searchDepartureDay = ViewBag.SearchDepartureDay,
                    searchDepartureMonth = ViewBag.SearchDepartureMonth,
                    searchDepartureYear = ViewBag.SearchDepartureYear,
                    searchArrivalDay = ViewBag.SearchArrivalDay,
                    searchArrivalMonth = ViewBag.SearchArrivalMonth,
                    searchArrivalYear = ViewBag.SearchArrivalYear,
                    searchOrigin = ViewBag.SearchOrigin,
                    searchDestiny = ViewBag.SearchDestiny,
                    searchCI = ViewBag.SearchCI,
                    searchPassportNo = ViewBag.SearchPassportNo
                })
            </th>
            <th>
                @Html.ActionLink("CI", "ListOfficial", "Travels", new
                {
                    sortOrder = ViewBag.CISortParm,
                    searchDepartureDay = ViewBag.SearchDepartureDay,
                    searchDepartureMonth = ViewBag.SearchDepartureMonth,
                    searchDepartureYear = ViewBag.SearchDepartureYear,
                    searchArrivalDay = ViewBag.SearchArrivalDay,
                    searchArrivalMonth = ViewBag.SearchArrivalMonth,
                    searchArrivalYear = ViewBag.SearchArrivalYear,
                    searchOrigin = ViewBag.SearchOrigin,
                    searchDestiny = ViewBag.SearchDestiny,
                    searchCI = ViewBag.SearchCI,
                    searchPassportNo = ViewBag.SearchPassportNo
                })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(OfficialTravel travel in Model.OfficialTravelsList)
        {
            <tr>
                <td>@travel.Passport.PassportNo</td>
                <td>@travel.Ticket.DepartureDate</td>
                <td>@travel.ReturnDate</td>
                <td>@travel.Ticket.DestinyCountry.Name</td>
                <td>@travel.Passport.Owner.CI</td>

                @if (Model.UserIsAdmin)
                {
                    <td>
                    @Html.ActionLink("Editar", "EditFlight", "Travels", new { id = travel.Id, listType = "Official" }, new { @class = "btn btn-sm btn-primary" })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Anterior", "Index", new
    {
        sortOrder = ViewBag.ActualSortOrder,
        keepOrder = true,
        searchDepartureDay = ViewBag.SearchDepartureDay,
        searchDepartureMonth = ViewBag.SearchDepartureMonth,
        searchDepartureYear = ViewBag.SearchDepartureYear,
        searchArrivalDay = ViewBag.SearchArrivalDay,
        searchArrivalMonth = ViewBag.SearchArrivalMonth,
        searchArrivalYear = ViewBag.SearchArrivalYear,
        searchOrigin = ViewBag.SearchOrigin,
        searchDestiny = ViewBag.SearchDestiny,
        searchCI = ViewBag.SearchCI,
        searchPassportNo = ViewBag.SearchPassportNo,
        pageIndex = ViewBag.PageIndex - 1
    })
    @(ViewBag.PageIndex) / @(ViewBag.MaxPageIndex)
    @Html.ActionLink("Siguiente", "Index", new
    {
        sortOrder = ViewBag.ActualSortOrder,
        keepOrder = true,
        searchDepartureDay = ViewBag.SearchDepartureDay,
        searchDepartureMonth = ViewBag.SearchDepartureMonth,
        searchDepartureYear = ViewBag.SearchDepartureYear,
        searchArrivalDay = ViewBag.SearchArrivalDay,
        searchArrivalMonth = ViewBag.SearchArrivalMonth,
        searchArrivalYear = ViewBag.SearchArrivalYear,
        searchOrigin = ViewBag.SearchOrigin,
        searchDestiny = ViewBag.SearchDestiny,
        searchCI = ViewBag.SearchCI,
        searchPassportNo = ViewBag.SearchPassportNo,
        pageIndex = ViewBag.PageIndex + 1
    })
</p>