@model IEnumerable<Ticket>
@{
    ViewData["Title"] = "ListTickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Boletos</h1>

<form asp-action="Index">
    <div class="row">
        <div class="input-group ap-small-margin-right">
            @Html.TextBox("SearchDay", null, new { @class = "form-control", placeholder = "Día" })
            @Html.TextBox("SearchMonth", null, new { @class = "form-control", placeholder = "Mes" })
            @Html.TextBox("SearchYear", null, new { @class = "form-control", placeholder = "Año" })
        </div>
        <div class="input-group ap-small-margin-right">
            @Html.TextBox("SearchOrigin", null, new { @class = "form-control", placeholder = "Origen" })
            @Html.TextBox("SearchDestiny", null, new { @class = "form-control", placeholder = "Destino" })
        </div>
        <div>
            <button type="submit" class="btn btn-secondary">Buscar</button>
        </div>
    </div>
</form>
<p></p>

<table id="tickets" class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Fecha de viaje", "Index", "Tickets", new
                {
                    sortOrder = ViewBag.DateSortParm,
                    searchDay = ViewBag.SearchDay,
                    searchMonth = ViewBag.SearchMonth,
                    searchYear = ViewBag.SearchYear,
                    searchOrigin = ViewBag.SearchOrigin,
                    searchDestiny = ViewBag.SearchDestiny
                })
            </th>
            <th>
                @Html.ActionLink("Origen", "Index", "Tickets", new
                {
                    sortOrder = ViewBag.OriginSortParm,
                    searchDay = ViewBag.SearchDay,
                    searchMonth = ViewBag.SearchMonth,
                    searchYear = ViewBag.SearchYear,
                    searchOrigin = ViewBag.SearchOrigin,
                    searchDestiny = ViewBag.SearchDestiny
                })
            </th>
            <th>
                @Html.ActionLink("Destino", "Index", "Tickets", new
                {
                    sortOrder = ViewBag.DestinySortParm,
                    searchDay = ViewBag.SearchDay,
                    searchMonth = ViewBag.SearchMonth,
                    searchYear = ViewBag.SearchYear,
                    searchOrigin = ViewBag.SearchOrigin,
                    searchDestiny = ViewBag.SearchDestiny
                })
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td>@ticket.DepartureDate.Day/@ticket.DepartureDate.Month/@ticket.DepartureDate.Year</td>
                <td>@ticket.OriginCountry.Name</td>
                <td>@ticket.DestinyCountry.Name</td>

                <td>
                    @Html.ActionLink("Editar", "EditFlight", "Travels",new { ticketid = @ticket.Id }, new { @class = "btn btn-secondary btn-sm" })
                    <button class="btn btn-danger btn-sm js-delete" data-ticket-id=@ticket.Id>Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Anterior", "Index", new
    {
        sortOrder = ViewBag.ActualSortOrder,
        keepOrder = true,
        pageIndex = ViewBag.PageIndex - 1,
        searchDay = ViewBag.SearchDay,
        searchMonth = ViewBag.SearchMonth,
        searchYear = ViewBag.SearchYear,
        searchOrigin = ViewBag.SearchOrigin,
        searchDestiny = ViewBag.SearchDestiny
    })
    @(ViewBag.PageIndex) / @(ViewBag.MaxPageIndex)
    @Html.ActionLink("Siguiente", "Index", new
    {
        sortOrder = ViewBag.ActualSortOrder,
        keepOrder = true,
        pageIndex = ViewBag.PageIndex + 1,
        searchDay = ViewBag.SearchDay,
        searchMonth = ViewBag.SearchMonth,
        searchYear = ViewBag.SearchYear,
        searchOrigin = ViewBag.SearchOrigin,
        searchDestiny = ViewBag.SearchDestiny
    })
</p>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#tickets").on("click", ".js-delete", function () {
                var button = $(this)

                bootbox.confirm("¿Está seguro que desea eliminar a este Boleto del registro?. Si lo elimina también serán eliminados todos los viajes asociados", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/Tickets/" + button.attr("data-ticket-id"),
                            method: "DELETE",
                            success: function () {
                                location.reload();
                            }
                        })
                    }
                })
            });
        });
    </script>
}