@model ArchivoDePasaportes.ViewModels.PassportFormViewModel

@{
    ViewData["Title"] = "ListPassports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pasaportes</h1>
<p>
    @Html.ActionLink("Ver pasaportes cancelados", "Index", "DroppedPassports", null, new { @class = "btn btn-link" })
</p>

<p>
    @Html.ActionLink("Nuevo", "New", "Passports", null, new { @class = "btn btn-primary" })
</p>

<form asp-action="Index">
    <p>
        <div class="input-group">
            @Html.TextBox("SearchString", null, new { @class = "form-control" })
            <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Buscar</button>
            </div>
        </div>
    </p>
</form>


<table id="passports" class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Número de Pasaporte", "Index", "Passports", new
                {
                    sortOrder = ViewBag.PassNoSortParm,
                    searchString = ViewBag.SearchString
                })
            </th>
            <th>
                @Html.ActionLink("Carnet del Propietario", "Index", "Passports", new
                {
                    sortOrder = ViewBag.OwnerCISortParm,
                    searchString = ViewBag.SearchString
                })
            </th>
            <th>
                @Html.ActionLink("Nombre del Propietario", "Index", "Passports", new
                {
                    sortOrder = ViewBag.OwnerNameSortParm,
                    searchString = ViewBag.SearchString
                })
            </th>
            <th>
                @Html.ActionLink("Tipo de Pasaporte", "Index", "Passports", new
                {
                    sortOrder = ViewBag.TypeSortParm,
                    searchString = ViewBag.SearchString
                })
            </th>
            <th>
                @Html.ActionLink("Archivado", "Index", "Passports", new
                {
                    sortOrder = ViewBag.ArchivedSortParm,
                    searchString = ViewBag.SearchString
                })
            </th>
            <th>
                @Html.ActionLink("Expedición", "Index", "Passports", new
                {
                    sortOrder = ViewBag.ExpeditionSortParm,
                    searchString = ViewBag.SearchString
                })
            </th>
            <th>
                @Html.ActionLink("Vencimiento", "Index", "Passports", new
                {
                    sortOrder = ViewBag.ExpirationSortParm,
                    searchString = ViewBag.SearchString
                })
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Passport passport in Model.PassportList)
        {
            <tr>
                <td>@Html.ActionLink(passport.PassportNo, "Details", new { id = passport.Id })</td>
                <td>@Html.ActionLink(passport.Owner.CI, "Details", "People", new { id = passport.OwnerId })</td>
                <td>@passport.Owner.NameWithComa()</td>
                <td>@passport.PassportType.Name</td>
                <td>
                    @if (passport.IsPassportArchived)
                    {
                        <text>Si</text>
                    }
                    else
                    {
                        <text>No</text>
                    }
                </td>
                <td>@passport.ExpeditionDate.Value.Day/@passport.ExpeditionDate.Value.Month/@passport.ExpeditionDate.Value.Year</td>
                <td>@passport.ExpirationDate.Value.Day/@passport.ExpirationDate.Value.Month/@passport.ExpirationDate.Value.Year</td>

                @if (Model.UserIsAdmin)
                {
                    <td>
                        @if (!passport.IsPassportArchived)
                        {
                            <button class="btn btn-success btn-sm js-archive"
                                    data-passport-type="@passport.PassportType.Name"
                                    data-passport-id="@passport.Id"
                                    data-passport-owner-id="@passport.Owner.CI"
                                    data-passport-owner-name="@passport.Owner.NameWithComa()"
                                    data-passport-expedition="@passport.ExpeditionDate.Value.Day/@passport.ExpeditionDate.Value.Month/@passport.ExpeditionDate.Value.Year"
                                    data-passport-expiration="@passport.ExpirationDate.Value.Day/@passport.ExpirationDate.Value.Month/@passport.ExpirationDate.Value.Year">
                                Recibir
                            </button>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Cancelar", "Drop", "Passports", new { id = passport.Id }, new { @class = "btn btn-sm btn-secondary" })
                    </td>
                    <td>
                        <button class="btn-danger btn btn-sm js-delete" data-passport-id=@passport.Id>Eliminar</button>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Anterior", "Index", new
    {
        sortOrder = ViewBag.ActualSortOrder,
        keepOrder = true,
        searchString = ViewBag.SearchString,
        pageIndex = ViewBag.PageIndex - 1
    })
    @(ViewBag.PageIndex) / @(ViewBag.MaxPageIndex)
    @Html.ActionLink("Siguiente", "Index", new
    {
        sortOrder = ViewBag.ActualSortOrder,
        keepOrder = true,
        searchString = ViewBag.SearchString,
        pageIndex = ViewBag.PageIndex + 1
    })
</p>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#passports").on("click", ".js-delete", function () {
                var button = $(this)

                bootbox.confirm("¿Está seguro que desea eliminar este pasaporte del registro?. Esta operación será irreversible y se perderán los datos asociados", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/Passports/" + button.attr("data-passport-id"),
                            method: "DELETE",
                            success: function () {

                                location.reload();
                            }
                        })
                    }
                })
            });
            $("#passports").on("click", ".js-archive", function () {
                var button = $(this)

                bootbox.confirm("Se recibirá este pasaporte en el archivo", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/Passports/" + button.attr("data-passport-id"),
                            method: "PUT",
                            success: function () {
                                var row = '<tr>' +
                                    '<td>Si</td>' +
                                    '<td>' + button.attr("data-passport-type") + '</td>' +
                                    '<td><a href="/Passports/Details/' + button.attr("data-passport-id") + '">' + button.attr("data-passport-id") + '</a></td>' +
                                    '<td><a href="/People/Details/' + button.attr("data-passport-owner-id") + '">' + button.attr("data-passport-owner-id") + '</a></td>' +
                                    '<td>' + button.attr("data-passport-owner-name") + '</td>' +
                                    '<td>' + button.attr("data-passport-expedition") + '</td>' +
                                    '<td>' + button.attr("data-passport-expiration") + '</td>' +
                                    '<td></td>' +
                                    '<td><a class="btn btn-secondary btn-sm" href="/Passports/Drop/' + button.attr("data-passport-id") + '">Retirar</a></td>' +
                                    '<td><button class="btn-danger btn btn-sm js-delete" data-passport-id=' + button.attr("data-passport-id") + '>Eliminar</button></td>' +
                                    '</tr>'
                                button.parents("tr").replaceWith(row);
                            }
                        })
                    }
                })
            })
        });
    </script>
}