@model ArchivoDePasaportes.ViewModels.PassportFormViewModel
@{
    ViewData["Title"] = "PassportForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Formulario de Pasaporte</h1>

<form asp-action="Save">
    <div class="form-group">
        <label asp-for="Passport.PassportNo" class="control-label"></label>
        <input asp-for="Passport.PassportNo" class="form-control" />
        <span asp-validation-for="Passport.PassportNo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Passport.PassportType" class="control-label"></label>
        <div class="input-group">
            @Html.DropDownListFor(m => m.Passport.PassportTypeId, new SelectList(Model.PassportTypes, "Id", "Name"), "Elija un tipo de pasaporte...", new { @class = "form-control" })
            <div class="input-group-append">
                @Html.ActionLink("Agregar Otro", "New", "PassportTypes", null, new { @class = "btn btn-success" })
            </div>
        </div>
        <span asp-validation-for="Passport.PassportType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Passport.OwnerId" class="control-label"></label>
        <input asp-for="Passport.OwnerId" class="form-control" />
        <span asp-validation-for="Passport.OwnerId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Passport.Source" class="control-label"></label>
        <div class="input-group">
            @Html.DropDownListFor(m => m.Passport.SourceId, new SelectList(Model.Sources, "Id", "Name"), "Elija un centro...", new { @class = "form-control" })
            <div class="input-group-append">
                @Html.ActionLink("Agregar Otro", "New", "Sources", null, new { @class = "btn btn-success" })
            </div>
        </div>
        <span asp-validation-for="Passport.Source" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Passport.ExpeditionDate" class="control-label"></label>
        <input asp-for="Passport.ExpeditionDate" class="form-control" />
        <span asp-validation-for="Passport.ExpeditionDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Passport.ExpirationDate" class="control-label"></label>
        <input asp-for="Passport.ExpirationDate" class="form-control" />
        <span asp-validation-for="Passport.ExpirationDate" class="text-danger"></span>
    </div>

    @Html.HiddenFor(m => m.Passport.Id)
    @Html.HiddenFor(m => m.OldId)
    @Html.HiddenFor(m => m.ExistOtherInDb)
    @Html.HiddenFor(m => m.NotExistThisPersonInDb)

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

@section scripts{
    <script>
        $(document).ready(function () {
            var existOtherInDb = '@Model.ExistOtherInDb' === '@true'
            if (existOtherInDb) {
                bootbox.alert("Ya existe un Pasaporte en la base de datos con este Número");
            }
            var notExistThisPersonInDb = '@Model.NotExistThisPersonInDb' === '@true'
            if (notExistThisPersonInDb) {
                bootbox.alert("No existe una Persona en la base de datos con este Carnet de Identidad");
            }
        });
    </script>

}