@model IEnumerable<Person>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Personas</h1>

<p>
    @Html.ActionLink("Nueva", "New", "People", null, new { @class ="btn btn-primary"})    
</p>

<form asp-action="Index">
    <p>
        <div class="input-group">
            @Html.TextBox("SearchString",null, new { @class = "form-control"})
            <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Buscar</button>
            </div>
        </div>
    </p>
</form>

<table id="people" class="table">
    <thead>
        <tr>
            <th>@Html.ActionLink("Carnet de Identidad", "Index", "People", 
               new { sortOrder = ViewBag.IdSortParm, searchString = ViewBag.SearchString })</th>
            <th>@Html.ActionLink("Nombre", "Index", "People", 
               new { sortOrder = ViewBag.NameSortParm, searchString = ViewBag.SearchString })</th>
            <th>@Html.ActionLink("Dirección", "Index", "People", 
               new { sortOrder = ViewBag.AddressSortParm, searchString = ViewBag.SearchString })</th>
            <th>Prosedencia</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(Person person in Model)
        {
            <tr>
                <td>@person.Id</td>
                <td>@Html.ActionLink(person.FullName(),"Details", new { id = person.Id })</td>
                <td>@person.Address</td>
                <td>@Html.ActionLink(person.Source.Name, "Details", "Sources", new { id = person.Source.Id })</td>
                <td>
                    <button class="btn-danger btn-sm js-delete" data-person-id=@person.Id>Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Anterior", "Index",
        new { sortOrder = ViewBag.IdSortParm, keepOrder = "True", searchString = ViewBag.SearchString, pageIndex = ViewBag.PageIndex - 1 })
    @(ViewBag.PageIndex + 1) / @(ViewBag.MaxPageIndex + 1)
    @Html.ActionLink("Siguiente", "Index",
        new { sortOrder = ViewBag.IdSortParm, keepOrder = "True", searchString = ViewBag.SearchString, pageIndex = ViewBag.PageIndex + 1 })
</p>
    

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#people").on("click", ".js-delete", function () {
                var button = $(this)

                bootbox.confirm("Esta seguro que desea eliminar a esta persona del registro", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/People/" + button.attr("data-person-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        })
                    }
                })
            });
            $('#people').on("click", ".js-order-by", function () {
                var field = $(this)
                $.ajax({
                    url: "/People/New",
                    success: function () {
                        
                    }
                })
            });
        });
    </script>
}