@model ArchivoDePasaportes.ViewModels.PersonFormViewModel
@{
    ViewData["Title"] = "PersonForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Formulario de Persona</h1>

<form asp-action="Save">
    <div class="form-group">
        <label asp-for="PersonDto.CI" class="control-label"></label>
        <input asp-for="PersonDto.CI" class="form-control" />
        <span asp-validation-for="PersonDto.CI" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PersonDto.FirstName" class="control-label"></label>
        <input asp-for="PersonDto.FirstName" class="form-control" />
        <span asp-validation-for="PersonDto.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PersonDto.LastName" class="control-label"></label>
        <input asp-for="PersonDto.LastName" class="form-control" />
        <span asp-validation-for="PersonDto.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PersonDto.Address" class="control-label"></label>
        <input asp-for="PersonDto.Address" class="form-control" />
        <span asp-validation-for="PersonDto.Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PersonDto.BirthDay" class="control-label"></label>
        <input asp-for="PersonDto.BirthDay" class="form-control"/>
        <span asp-validation-for="PersonDto.BirthDay" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PersonDto.SourceId" class="control-label"></label>
        <div class="input-group">
            @Html.DropDownListFor(m => m.PersonDto.SourceId, new SelectList(Model.Sources, "Id", "Name"),"Elija un centro...", new { @class = "form-control" })
            <div class="input-group-append">
                @Html.ActionLink("Agregar Otro", "New", "Sources", null, new { @class = "btn btn-success"})
            </div>
        </div>
        <span asp-validation-for="PersonDto.SourceId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PersonDto.Ocupation" class="control-label"></label>
        <input asp-for="PersonDto.Ocupation" class="form-control" />
        <span asp-validation-for="PersonDto.Ocupation" class="text-danger"></span>
    </div>

    @Html.HiddenFor(m => m.OldCI)
    @Html.HiddenFor(m => m.ExistOtherInDb)

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

@section scripts{ 
    <script>
        $(document).ready(function () {
            var existOtherInDb = '@Model.ExistOtherInDb' === '@true'
            if (existOtherInDb) {
                bootbox.alert("Ya existe una persona en la base de datos con este Carnet de Identidad");
            }
            var ValidDate = '@Model.ValidDate' === '@false'
            if (ValidDate) {
                bootbox.alert("Fecha no válida");
            }
        });
    </script>

}