@using ArchivoDePasaportes.Areas.Identity.Data;
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuarios</h1>

<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Occupation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ApplicationUser user in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.Name)
                        @Html.DisplayFor(modelItem => user.LastName)
                        @Html.DisplayFor(modelItem => user.SecondLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Occupation)
                    </td>
                </tr>
            }
        </tbody>
    </table>